##########################################################
#           init.insmod.raven.cfg                        #
# This file contains raven specific kernel modules to    #
# load at init time by init.insmod.sh script             #
##########################################################

# Load device specific kernel modules
# Modules here will be loaded *after* all common modules
modprobe|bcmdhd4389.ko
modprobe|sec_touch.ko

# All device specific modules loaded
setprop|vendor.device.modules.ready
setprop|vendor.all.modules.ready
setprop|vendor.all.devices.ready
