##########################################################
#           init.insmod.whitefin.cfg                     #
# This file contains whitefin specific kernel modules to #
# load at init time by init.insmod.sh script             #
##########################################################

# Load device specific kernel modules
# Modules here will be loaded *after* all common modules
modprobe|bcmdhd43752.ko
modprobe|snd-soc-cs35l41-i2c.ko
modprobe|drv2624.ko
modprobe|sec_touch.ko

# All device specific modules loaded
setprop|vendor.device.modules.ready
setprop|vendor.all.modules.ready
setprop|vendor.all.devices.ready
