# Raven specific init.rc
import /vendor/etc/init/hw/init.gs101.rc
import /vendor/etc/init/hw/init.raviole.rc

on init
    # logbuffer
    chown system system /dev/logbuffer_5-0057
    # register/nvmem dump
    chown system system /d/regmap/6-0036/registers
    chown system system /sys/bus/nvmem/devices/5-00500/nvmem

    # Power Stats HAL
    chown system system /sys/devices/platform/10d30000.spi/spi_master/spi10/spi10.0/uwb/power_stats

on fs
    # Face
    exec_background - system shell -- /vendor/bin/trusty_apploader /vendor/firmware/faceauth.app

on property:vendor.mfgapi.touchpanel.permission=1
    chmod 0600 /sys/devices/virtual/sec/tsp/cmd
    chown system system /sys/devices/virtual/sec/tsp/cmd

# Toggle glove_mode according to touch_sensitivity_mode
on property:persist.vendor.touch_sensitivity_mode=0 && property:sys.boot_completed=1
    write /sys/devices/virtual/sec/tsp/cmd "glove_mode,0"

on property:persist.vendor.touch_sensitivity_mode=1 && property:sys.boot_completed=1
    write /sys/devices/virtual/sec/tsp/cmd "glove_mode,1"

# Bluetooth
on post-fs-data
    chown bluetooth system /proc/bluetooth/timesync
