# Oriole specific init.rc
import /vendor/etc/init/hw/init.gs101.rc

on init && property:ro.build.flavor=factory_oriole-userdebug
    import /vendor/etc/init/hw/init.factory.rc

on init
    # logbuffer
    chown system system /dev/logbuffer_5-0057
    # register/nvmem dump
    chown system system /d/regmap/5-0036/registers
    chown system system /sys/bus/nvmem/devices/4-00500/nvmem

on early-boot
    # Wait for insmod_sh to finish all common modules
    wait_for_prop vendor.common.modules.ready 1
    start insmod_sh_oriole

service insmod_sh_oriole /vendor/bin/init.insmod.sh /vendor/etc/init.insmod.oriole.cfg
    class main
    user root
    group root system
    disabled
    oneshot

on fs
    # Fingerprint
    chown system system /dev/goodix_fp
    exec_background - system shell -- /vendor/bin/trusty_apploader /vendor/firmware/g6.app

    # Start the twoshay touch service
    start twoshay

# Toggle glove_mode according to touch_sensitivity_mode
on property:persist.vendor.touch_sensitivity_mode=0 && property:sys.boot_completed=1
    write /sys/class/spi_master/spi11/spi11.0/glove_mode 00

on property:persist.vendor.touch_sensitivity_mode=1 && property:sys.boot_completed=1
    write /sys/class/spi_master/spi11/spi11.0/glove_mode 01
