<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.overlay.glu0g">
    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.settings"
             android:requiredSystemPropertyName="ro.boot.hardware.sku"
             android:requiredSystemPropertyValue="GLU0G"
             android:isStatic="true" />
</manifest>
